<html>
	<head>
		<title>Places App</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="/style/app.css">
	</head>
	<body>
		<div class="ui fixed inverted menu">
			<div class="ui container">
				<div class="header item"><a href="/"><i class="home icon"></i></a><a href="/">City Oslo</a></div>

				<a href="places/new" class="item">Add New Place</a>
			</div>
		</div>

