.container.segment {
	margin-top: 3.0em;
}
.header {
	font-size:20px;
	margin:auto !important;
}
.segment {
	margin-top:80px !important;
}
#deleteForm {
	margin: 0; 
	padding: 0;
	display: inline;
}

.description{
	margin-left:2.0em;
}

#readmoreBtn {
	margin-left:2.0em;
}
